:root {
  --navyblue: #2e2f42;
  --iris: #4d5ae5;
  --slate: #434455;
  --white: #fff;
  --ocean: #404bbf;
  --cloud: #f4f4fd;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: var(--slate);
}
.list {
  list-style: none;
}
.page-header {
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-right: 100px;
}
.page-header > ul {
  display: flex;
  gap: 10px;
  margin-left: auto;
}
.page-header > nav {
  display: flex;
  align-items: center;
  margin-left: 100px;
}

.page-header > nav > ul {
  display: flex;
  gap: 10px;
}

.logo-link {
  font-family: "Raleway", sans-serif;
  font-size: 0;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.04em;
  text-decoration: none;
}
.logo-link > span {
  font-size: 18px;
}
.logo {
  color: var(--iris);
}
.studio {
  color: var(--navyblue);
}

.nav-menu .page {
  color: var(--navyblue);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.nav-menu .page:hover,
.nav-menu .page:focus,
.nav-menu .page.current,
.contacts-menu .item:hover,
.contacts-menu .item:focus {
  color: var(--iris);
}

.contacts-menu .item {
  color: var(--slate);
  text-decoration: none;
  font-weight: 400;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.bg-hero {
  background-color: var(--navyblue);
}

.hero.bg-hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
}

.button {
  border-color: transparent;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.5;
  border-radius: 4px;
  letter-spacing: 0.03em;
  cursor: pointer;
  font-size: 16px;
}
.button.primary {
  color: white;
  background-color: var(--iris);
  line-height: 1.87;
  letter-spacing: 0.06em;
}
.button.primary:hover,
.button.primary:focus {
  background-color: var(--ocean);
}
.button.filter {
  background-color: var(--cloud);
  color: var(--iris);
  font-weight: 500;
  line-height: 1.62;
}
.button.filter:hover,
.button.filter:focus,
.button.filter.current {
  background-color: var(--ocean);
  color: var(--cloud);
}

.hero-title {
  color: var(--white);
  text-align: center;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.04em;
}

.section .container .benefits.list {
  display: flex;
  justify-content: center;
  gap: 15px;
}
.section .container .what-we-do.list {
  display: flex;
  justify-content: center;
  gap: 15px;
}
.bg-team {
  background-color: var(--cloud);
}

.bg-team .container .list {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.benefits .title {
  color: var(--navyblue);
  font-size: 20px;
  font-weight: 500;
}
.benefits .description {
  color: var(--slate);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.section-title {
  color: var(--navyblue);
  font-size: 36px;
  text-align: center;
  line-height: 1.17;
}

.team .name {
  color: var(--navyblue);
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-align: center;
}

.team .position {
  color: var(--slate);
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}
.page-footer.bg-footer {
  background-color: var(--navyblue);
  display: flex;
  align-items: center;
  height: 312px;
  padding-left: 100px;
}
.studio-footer {
  color: var(--cloud);
}
.footer-description {
  color: var(--cloud);
}
.project {
  text-decoration: none;
}
.project .name {
  font-size: 20px;
  font-weight: 500;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--navyblue);
}

.project .type {
  color: var(--slate);
  font-weight: 400;
  line-height: 1.87;
}

.container .filters.list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 50px;
}
.container .filters.list .button {
  height: 24px;
  width: 126px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .projects.list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 30px;
}

.container .section-list-service.list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 30px;
}

.container .section-list-product.list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 30px;
}
